@font-face {
    font-family: 'heading';
    src: url(../fonts/AbrilFatface-Regular\(Heading\).ttf);
}
@font-face {
    font-family: 'normal-medium';
    src: url(../fonts/MPLUS1p-Medium\(Normal\).ttf);
}
@font-face {
    font-family: 'normal-regular';
    src: url(../fonts/MPLUS1p-Regular\(Normal\).ttf);
}
@font-face {
    font-family: 'bold-nav';
    src: url(../fonts/Roboto-Bold\(Nav-link\).ttf);
}
@font-face {
    font-family: 'medium-nav';
    src: url(../fonts/Roboto-Medium\(Nav-link\).ttf);
}@font-face {
    font-family: 'Regular-nav';
    src: url(../fonts/Roboto-Regular\(Nav-link\).ttf);
}
:root{
    --primary-color: #3d52a0;
    --secondary-color: #7091e6;
    --tertiary-color: #adbbda;
    --natural-color: #ede8f4;
    --info-color: #8697c4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 10px 10px 7px gray ;
    margin: 5px 5px;
    padding: 20PX 20PX;
    border-radius: 20px;
    
}
header .logo{
    height: 130px;
    width: 130px;
   
   
}
nav{
    display: flex;
    justify-content: center;
    list-style: none;

    
}
nav ul  {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: 'heading' ;
    font-size: 20px;
    
    
   
}
nav ul li a{
    display: block;
    text-decoration: none;
    gap: 80px;
    padding: 20px 20px;
    color: #075664;
    border-radius: 50px;
    transition: 0.2s;
   
}
nav ul li a:hover{
    color: white;
    background: #075664;
    letter-spacing: 5px;
    font-family: 'normal-regular';
    
}
nav ul li a.active{
    color: white;
    background: #075664;
}
/* header button{
    color: #ffffff;
    border-radius: 20px;
   background-color: #075664;
    cursor: pointer;
    box-shadow: 0 0 10px white; 
    height: 50px;
    width: 110px;
   text-decoration: none;
    font-family:'normal-regular' ;
   text-align: center;
   font-size: 20px;
   border: none;
   
   
} */
 header .btn button{
    border: 1px solid #075664;
    background: none;
    padding: 10px 10px;
    font-size: 20px;
    font-family: 'normal-medium';
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    border-radius: 10px;
    background: linear-gradient(90deg,#000000,rgb(3, 49, 75));
    color: white;
 }
header .btn button:hover{
    color: #f8f8f8;
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    border: 1px solid #ffffff;

}

.swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #0f0527;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: center;
  }
  .head{
    text-align: center;
    margin: 40px 40px;
    font-family:'heading' ;
    font-size: 60px;
    /* color: #075664; */
    letter-spacing: 5px;
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
 .container{
    height: 100%;
    display: grid;
    place-content: center;
   
    text-align: center;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
  }
  .container .card{
    height: 290px;
    width: 350px;
    margin: 0 20px;
    background: rgb(227, 232, 252);
    transition: 0.4s;
    box-shadow: 2px 2px 2px rgba(2, 1, 51, 0.2);
    border-radius: 10px;
    border: 2px solid #0f0527;
  }
  .container .card:hover{
    height: 520px;
    box-shadow: 5px 5px 10px rgba(21, 3, 88, 0.2);
    border-radius: 10px;
  }
  .card .img{
    height: 200px;
    width: 100%;
    
   
  }
  .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #bac8fa;
  }
  .card .top-text{
    padding: 5px;
  }
  .card .top-text .name{
    font-size: 25px;
    font-weight: 600;
    color: #2b2525;
    
  }
  .card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color: #2c2828;
    line-height: 20px;
  }
.foot-body{
    box-shadow: 0 5px 10px gray;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 800px;
    background-color: #8697c4;
  }
  .card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: rgb(227, 232, 252);

    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
    color: #0f0527;
  }
  .card .bottom-text .text ul li{
    text-decoration: none;
    font-size: 18px;
    font-family: 'medium-nav' ;
    margin-left: 10px;
    list-style-type: decimal ;
  }

  .card:hover .bottom-text{
    opacity:1 ;
    visibility: visible ;
  }
  .card .bottom-text .text{
    text-align: justify;
    text-decoration: none;
    margin-top: 40px;
  }
  .card .bottom-text .btn{
    margin: 10px 10px;
    text-align: left;
    height: 50px;
    width: 100px;
  }
  .card .bottom-text .btn a{
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    padding: 8px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.1s ease;
    font-family:'normal-medium' ;
  }
  .card .bottom-text .btn a:hover{
    
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
    border: 1px solid #075664;
  }
    

  
 .facility{
    text-align: center;
    margin-top: 80px;
    font-family:'heading' ;
    font-size: 80px;
    color: #075664;
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
 }
 .container-facility{
    display: grid;
    
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}
.card-facility{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: space-between;
}
.card-article{
    position: relative;
    overflow: hidden;

}
.card-article:hover .card-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.card-article:hover .card-img{
    /* animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s; */
    filter: brightness(1);
}
.card-article:hover{
    animation: remove-overflow 2s forwards;
}
.card-article:not(:hover){
    animation: show-overflow 2s forwards;
}
.card-article:not(:hover) .card-data{
    animation: remove-data 1s forwards;
}
.card-img{
    width: 328px;
    height: 250px;
    object-fit: cover;
    /* border-radius: 1.5rem; */
    filter: brightness(0.6);
    transition: 1s;
    border: 5PX outset #0c8fa7;
}
img{
    display: block;
    height: auto;
    max-width: 100%;
}
.card-data{
    width: 250px;
    height: 150px;
    background-color: #047185b2;
    padding: 1.5rem 2rem;
    color: #ffffff;
    /* box-shadow:0 8px 24px rgb(112, 112, 253); */
    border-radius:1rem; 
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    transition: opacity 1s 1s;
    opacity: 0;
}
.card-description{
    display: block;
    font-size: 15px;
    margin-bottom: .25rem;
    font-family: 'heading';
    
}
.card-title{
    font-size: 13px;
    color: #ffffff;
    margin-bottom: .75rem;
    font-family: 'normal-medium';
}
@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow:initial ;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform:translateY(-10rem)
    }
   100%{
    transform: translateY(.5rem);
   } 
}
@keyframes show-overflow  {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}
@media screen and (max-width:340px){
    .container-facility{
        margin-inline:1rem ;
    }
    .card-data{
        width: 250px;
        padding: 1rem;
    }
}

#banner img{
    width: 100%;
    height: 500px;
    object-fit: cover;

}
 .servicehead{
    text-align: center;
    font-size: 80px;
    font-family: 'heading';
    background: linear-gradient(90deg,#101111,rgb(75, 169, 231));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}  
#about{
    display: flex;
   gap: 20px;
 
}

.coursecard{
    position: relative;
    width: 300px;
    height: 350px;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(2, 1, 51, 0.2);
    background: #1d92a7;
}
.coursecard::before, .coursecard::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #1d92a7;
    transition: 0.5s;
    z-index: -1;
}
.coursecard:hover::before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(14, 14, 15, 0.2);
}
.coursecard .imgbox{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: #222;
    transition: 0.5s;
    z-index: 1;
}
.coursecard:hover .imgbox{
    bottom: 80px;
}
.coursecard .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.coursecard .coursedetail{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}
.coursecard .coursedetail h2{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}
.coursecard .coursedetail h2 span {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin-top: 5px;
}
.coursecard:hover::after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(2, 1, 51, 0.2);
    background: #075664;
}
 .sourcep{
    margin-top: 120px;
}
.right h3{
    margin-top: 25px;
    font-size: 50px;
    margin-left: 120px;
    color: #1d92a7;
}
.right p{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 120px;
    margin-bottom: 20px;
}
.right a{
    font-size: 30px;
    margin-left: 120px;
    border: 1px solid #1d92a7;
    background-color:#1d92a7 ;
    text-decoration: none;
    color: #ffffff;
}
.right a:hover{
    font-size: 30px;
    margin-left: 120px;
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    letter-spacing: 3px;
}
.left2{
    margin-right: 80px;
}
.left2 .coursecard{
    position: relative;
    width: 300px;
    height: 350px;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(2, 1, 51, 0.2);
    background: #075664;
}
.left2 .coursecard:hover::after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(2, 1, 51, 0.2);
    background: #1d92a7;
}
.left2 .coursecard::before, .coursecard::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #075664;
    transition: 0.5s;
    z-index: -1;
}

.right2 h3{
    margin-top: 25px;
    font-size: 50px;
    margin-left: 120px;
    color: #075664;
}
.right2 p{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 120px;
    margin-bottom: 20px;
}
.right2 a{
    font-size: 30px;
    margin-left: 120px;
    border: 1px solid #075664;
    background-color:#075664 ;
    text-decoration: none;
    color: #ffffff;
}
.right2 a:hover{
    font-size: 30px;
    margin-left: 120px;
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    letter-spacing: 3px;
}
.schead{
    text-align: center;
    font-size: 80px;
    font-family: 'heading';
    background: linear-gradient(90deg,#101111,rgb(75, 169, 231));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}  
swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 5px;
    filter: brightness(0.6);
    transition: 1s;
    border: 5px double #075664;
    
  }
  swiper-slide img:hover{
    filter: brightness(1);
  }
  .scbtn {
     
        position: absolute;
        bottom: 8px;
        right: 16px;
      color: #000000;
      cursor: pointer;
      text-decoration: none;
      border: 2px solid black;
  }
  .scbtn:hover{
    letter-spacing: 3px;
    color: #0c8fa7;
    background: #000000;
    transition: 0.7s;
  }
  .hdseh1{
    text-align: center;
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    font-size: 50px;
    font-family: 'heading';
    margin-top: 40px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
    color: #ffffff;
  }
  .hdsep{
    font-size: 20px;
    font-family: 'reguklar-nav';
    text-align: center;
    background: linear-gradient(80deg,#1d92a7,rgb(12, 12, 12));
    margin-bottom: 50px;
    color: #ffffff;
  }
  .hdsecontainer{
    display: flex;
    flex-wrap: wrap;
  }
 
  .hdsewrapper{
    
    width: 400px;
    background: #fff;
    padding: 30px;
    border: 16px;
    box-shadow: 5px 5px 10px rgba(4, 89, 138, 0.808);
    margin-left: 30px;
    margin-top: 50px;
}
.hdsewrapper header{
    
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
    padding: 10px;
    background: #075664;
    color: #ffffff;
}
header label{
    height: 100%;
    z-index: 2;
    width: 40%;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}
.hdsehead{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #c6c6c6;
}
.hdsehead span{
    font-size: 40px;
    font-weight: 600;
    font-family: 'heading';
    background: linear-gradient(90deg,#1d92a7,rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hdserow .module li{
    font-size: 20px;
    margin-bottom: 10px;
    
}
.hdsewrapper button{
    height: 55px;
    width: 100%;
    margin-right: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3 ease;
    background: #075664;
    color: #ffffff;
    margin-top: 20px;
    
}
.hdsewrapper button:hover{
    transform: scale(0.99);
    background-color: #0c8fa7;
    color: black;
    height: 50px;
    width: 80%;
    margin-left: 20px;
}
.hdsewrapper button a{
    text-decoration: none;
    color: #ffffff;
}
.hdsebtn{
    margin-top: 30px;
}
.adseh1{
    text-align: center;
    background: linear-gradient(90deg,#91ecfc,rgb(2, 63, 104));
    font-size: 50px;
    font-family: 'heading';
    margin-top: 40px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
    color: #ffffff;
  }
  .adsep{
    font-size: 20px;
    font-family: 'reguklar-nav';
    text-align: center;
    background:  linear-gradient(90deg,#91ecfc,rgb(2, 63, 104));
    margin-bottom: 50px;
    color: #ffffff;
  }
  .adsecontainer{
    display: flex;
    flex-wrap: wrap;
  }
 
  .adsewrapper{
    
    width: 400px;
    background: #fff;
    padding: 30px;
    border: 16px;
    box-shadow: 5px 5px 10px rgba(4, 89, 138, 0.808);
    margin-left: 150px;
    margin-top: 50px;
}
.adsewrapper header{
    
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
    padding: 10px;
    background: rgb(2, 63, 104);
    color: #ffffff;
}
header label{
    height: 100%;
    z-index: 2;
    width: 40%;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}
.adsehead{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #c6c6c6;
}
.adsehead span{
    font-size: 40px;
    font-weight: 600;
    font-family: 'heading';
    background:  linear-gradient(90deg,#91ecfc,rgb(2, 63, 104));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.adserow .module li{
    font-size: 20px;
    margin-bottom: 10px;
    
}
.adsewrapper button{
    height: 55px;
    width: 100%;
    margin-right: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3 ease;
    background: rgb(2, 63, 104);
    color: #ffffff;
    margin-top: 20px;
    
}
.adsewrapper button:hover{
    transform: scale(0.99);
    background-color: #0c8fa7;
    color: black;
    height: 50px;
    width: 80%;
    margin-left: 20px;
}
.adsewrapper button a{
    text-decoration: none;
    color: #ffffff;
}
.adsebtn{
    margin-top: 30px;
}
.myh1{
    text-align: center;
    background: linear-gradient(90deg,#025153,rgb(4, 150, 130));
    font-size: 50px;
    font-family: 'heading';
    margin-top: 40px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
    color: #ffffff;
}
.mycontainer{
    position: relative;
    /* width: 1100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 50px;
}
.mycontainer .mycard{
    position: relative;
    width: 330px;
    height: 200px;
    background: #0c8fa7;
    margin: 30px ;
    padding: 20px 15px;
    display: flex;
    box-shadow: 0 3px 20px black;
    flex-direction: column;
    transition: 0.4s ease-in-out;
    
}
.mycontainer .mycard:hover{
    height: 300px;
}
.mycontainer .mycard .myimg{
    position: relative;
    width: 260px;
    height: 200px;
    top: -60px;
    left: 20px;
    box-shadow: 0 3px 10px black;
    z-index:1;
}
.mycontainer .mycard .myimg img{
    max-width: 100%;
    border: 6px;
    height: 100%;
}
.myh2{
    text-align: center;
    color: #ffffff;
}
.mycontainer .mycard .mydetail{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;

}
.mycontainer .mycard:hover .mydetail{
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}
.mydetail button{
    height: 50px;
    width: 150px;
    margin-right: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3 ease;
    background: rgb(2, 63, 104);
    color: #ffffff;
  
    
}
.mydetail button:hover{
    transform: scale(0.99);
    background-color: #0c8fa7;
    color: black;
    height: 50px;
    width: 150px;
    margin-left: 20px;
}
.mydetail button a{
    text-decoration: none;
    color: #ffffff;
}
.mydetail .mybtn{
    margin-top: 10px;
}