@font-face {
    font-family: 'heading';
    src: url(../fonts/AbrilFatface-Regular\(Heading\).ttf);
}
@font-face {
    font-family: 'normal-medium';
    src: url(../fonts/MPLUS1p-Medium\(Normal\).ttf);
}
@font-face {
    font-family: 'normal-regular';
    src: url(../fonts/MPLUS1p-Regular\(Normal\).ttf);
}
@font-face {
    font-family: 'bold-nav';
    src: url(../fonts/Roboto-Bold\(Nav-link\).ttf);
}
@font-face {
    font-family: 'medium-nav';
    src: url(../fonts/Roboto-Medium\(Nav-link\).ttf);
}@font-face {
    font-family: 'Regular-nav';
    src: url(../fonts/Roboto-Regular\(Nav-link\).ttf);
}
:root{
    --primary-color: #212a31;
    --secondary-color: #2e3944;
    --tertiary-color: #748d92;
    --natural-color: #d3d9d4;
    --info-color: #124e66;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    height: 50px;
    width: 100px;
    background-color: var(--primary-color);
    color: var(--natural-color);
    border: #212a31 solid;
    border-radius: 10px;
    font-size: calc(2*8px);
    padding: 4px;
    font-family: "Reglar-nav";
}
.section1{
    display: flex;
    margin :calc(15*3px);
    gap:calc(10*3px);
}
.section1 img {
    height: calc(100*2.75px);
    width: calc(100*2.75px);
    border: --natural-color solid 5px;

}
.ABOUTUS h1{
    font-family: "heading";
    letter-spacing: 2px;
    font-size: calc(15*3px);
} 
.section1 p{
    font-family: "normal-medium";
    font-size: calc(8*2px);
    text-align: justify;
}
.section2{
    margin :calc(15*3px);
}
.section3,.section2 h1,h2{
    text-align: center;
    letter-spacing: px;
}
.section2 .faculty1{
    text-align: center;
}
.align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.faculty1 img{
    height: calc(100*1.5px);
    width: calc(100*3px);
}
.section2 h3{
    font-size: calc(15*1.5px);
    font-family: "normal-regular"
}
.section2 p{
    font-family: "normal-medium";
    font-size: calc(3*5px);
}
.faculty1{
    box-shadow: 10px 10px 7px rgb(180, 164, 164);
    height: calc(100*3px);
    width: calc(100*4px);
    border: #124e66 solid 5px;
}
.tech,.techz{
    margin: calc(2*15px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(2*8px);
}
.faculty{
    height: calc(100*3.57px);
    width: calc(100*4px);
    text-align: center;
    border: #124e66 solid 5px;
    box-shadow: #748d92 10px 10px 7px;
}
.tech img{
    height: calc(100*2px);
    width: calc(100*3px);
}
.effect{
    transition: all 0.5s;
}
.effect:hover{
    background-color: var(--primary-color);
    color: var(--natural-color);
}