@font-face {
    font-family: 'heading';
    src: url(../fonts/AbrilFatface-Regular\(Heading\).ttf);
}

@font-face {
    font-family: 'normal-medium';
    src: url(../fonts/MPLUS1p-Medium\(Normal\).ttf);
}

@font-face {
    font-family: 'normal-regular';
    src: url(../fonts/MPLUS1p-Regular\(Normal\).ttf);
}

@font-face {
    font-family: 'bold-nav';
    src: url(../fonts/Roboto-Bold\(Nav-link\).ttf);
}

@font-face {
    font-family: 'medium-nav';
    src: url(../fonts/Roboto-Medium\(Nav-link\).ttf);
}

@font-face {
    font-family: 'Regular-nav';
    src: url(../fonts/Roboto-Regular\(Nav-link\).ttf);
}

:root {
    --primary-color: #3d52a0;
    --secondary-color: #7091e6;
    --tertiary-color: #adbbda;
    --natural-color: #ede8f4;
    --info-color: #8697c4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 10px 10px 7px gray;
    margin: 5px 5px;
    padding: 20PX 20PX;
    border-radius: 20px;

}

header .logo {
    height: 130px;
    width: 130px;


}

nav {
    display: flex;
    justify-content: center;
    list-style: none;


}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: 'heading';
    font-size: 20px;



}

nav ul li a {
    display: block;
    text-decoration: none;
    gap: 80px;
    padding: 20px 20px;
    color: #075664;
    border-radius: 50px;
    transition: 0.2s;

}

nav ul li a:hover {
    color: white;
    background: #075664;
    letter-spacing: 5px;
    font-family: 'normal-regular';

}

nav ul li a.active {
    color: white;
    background: #075664;
}

#close-menu-btn {
    display: none;
}

/* .dropdown {
     float: left;
    overflow: hidden;
} */

.dropdown .dropbtn {
    font-family: 'heading';
    font-size: 20px;

    border: none;
    outline: none;
    color: #075664;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    color: white;
    background: #075664;
    letter-spacing: 5px;
    font-family: 'normal-regular';
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(1, 93, 121);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1000000000;
}

header .btn button {
    border: 1px solid #075664;
    background: none;
    /* padding: 10px 10px; */
    font-size: 20px;
    font-family: 'normal-medium';
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    border-radius: 10px;
    background: linear-gradient(90deg, #000000, rgb(3, 49, 75));
    color: white;
}

header .btn button:hover {
    color: #f8f8f8;
    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    border: 1px solid #ffffff;

}




.swiper {
    width: 100%;
    height: 100%
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 500;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 800px;
    margin: 20px auto;
}

/* .append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
} */


.ehead {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'heading';
    font-size: 70px;
    /* color: #075664; */
    letter-spacing: 5px;
    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* .econtainer {
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
} */

.econtainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.econtainer .ecard {
    height: 290px;
    width: 350px;
    margin: 0 20px;
    background: rgb(227, 232, 252);
    transition: 0.4s;
    box-shadow: 2px 2px 2px rgba(2, 1, 51, 0.2);
    border-radius: 10px;
    border: 2px solid #0f0527;
}

.econtainer .ecard:hover {
    height: 520px;
    box-shadow: 5px 5px 10px rgba(21, 3, 88, 0.2);
    border-radius: 10px;
}

.ecard .eimg {
    height: 200px;
    width: 100%;


}

.ecard .eimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #bac8fa;
}

.ecard .top-text {
    padding: 5px;
}

.ecard .top-text .name {
    font-size: 25px;
    font-weight: 600;
    color: #2b2525;

}

.ecard .top-text p {
    font-size: 20px;
    font-weight: 600;
    color: #2c2828;
    line-height: 20px;
}

.foot-body {
    box-shadow: 0 5px 10px gray;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 800px;
    background-color: #8697c4;
}

.ecard .bottom-text {
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: rgb(227, 232, 252);

    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
    color: #0f0527;
}

.ecard .bottom-text .text ul li {
    text-decoration: none;
    font-size: 18px;
    font-family: 'medium-nav';
    margin-left: 10px;
    list-style-type: decimal;
}

.ecard:hover .bottom-text {
    opacity: 1;
    visibility: visible;
}

.ecard .bottom-text .text {
    text-align: justify;
    text-decoration: none;
    margin-top: 40px;
}

.ecard .bottom-text .btn {
    margin: 10px 10px;
    text-align: left;
    height: 50px;
    width: 100px;
}

.ecard .bottom-text .btn a {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    padding: 8px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.1s ease;
    font-family: 'normal-medium';
}

.ecard .bottom-text .btn a:hover {

    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    border: 1px solid #075664;
}



.facility {
    text-align: center;
    margin-top: 80px;
    font-family: 'heading';
    font-size: 80px;
    color: #075664;
    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}

.container-facility {
    display: grid;

    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card-facility {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: space-between;
}

.card-article {
    position: relative;
    overflow: hidden;

}

.card-article:hover .card-data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card-article:hover .card-img {
    /* animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s; */
    filter: brightness(1);
}

.card-article:hover {
    animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
    animation: remove-data 1s forwards;
}

.card-img {
    width: 328px;
    height: 250px;
    object-fit: cover;
    /* border-radius: 1.5rem; */
    filter: brightness(0.6);
    transition: 1s;
    border: 5PX outset #0c8fa7;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.card-data {
    width: 250px;
    height: 150px;
    background-color: #047185b2;
    padding: 1.5rem 2rem;
    color: #ffffff;
    /* box-shadow:0 8px 24px rgb(112, 112, 253); */
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    transition: opacity 1s 1s;
    opacity: 0;
}

.card-description {
    display: block;
    font-size: 15px;
    margin-bottom: .25rem;
    font-family: 'heading';

}

.card-title {
    font-size: 13px;
    color: #ffffff;
    margin-bottom: .75rem;
    font-family: 'normal-medium';
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem)
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

#banner img {
    width: 100%;
    object-fit: cover;


}

.servicehead {
    text-align: center;
    font-size: 80px;
    font-family: 'heading';
    background: linear-gradient(90deg, #101111, rgb(75, 169, 231));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about {
    display: flex;
    gap: 20px;
    
}

.coursecard {
    position: relative;
    width: 300px;
    height: 350px;
    margin-left: 120px;
    margin-top: 80px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(2, 1, 51, 0.2);
    background: #1d92a7;
}

.coursecard::before,
.coursecard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #1d92a7;
    transition: 0.5s;
    z-index: -1;
}

.coursecard:hover::before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(14, 14, 15, 0.2);
}

.coursecard .imgbox {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: #222;
    transition: 0.5s;
    z-index: 1;
}

.coursecard:hover .imgbox {
    bottom: 80px;
}

.coursecard .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coursecard .coursedetail {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.coursecard .coursedetail h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.coursecard .coursedetail h2 span {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin-top: 5px;
}

.coursecard:hover::after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(2, 1, 51, 0.2);
    background: #075664;
}

.courcep {
    margin-top: 120px;
}

.right h3 {
    margin-top: 10px;
    font-size: 40px;
    margin-left: 120px;
    color: #1d92a7;
}

.right p {
    margin-top: 20px;
    font-size: 30px;
    margin-left: 120px;
    margin-bottom: 20px;
}

.right a {
    font-size: 30px;
    margin-left: 120px;
    border: 1px solid #1d92a7;
    background-color: #1d92a7;
    text-decoration: none;
    color: #ffffff;
    
}

.right a:hover {
    font-size: 30px;
    margin-left: 120px;
    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    letter-spacing: 3px;
}

.left2 {
    margin-right: 80px;
}

.left2 .coursecard {
    position: relative;
    width: 300px;
    height: 350px;
    margin-left: 120px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(2, 1, 51, 0.2);
    background: #075664;
}

.left2 .coursecard:hover::after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(2, 1, 51, 0.2);
    background: #1d92a7;
}

.left2 .coursecard::before,
.coursecard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #075664;
    transition: 0.5s;
    z-index: -1;
}

.right2 h3 {
    margin-top: 10px;
    font-size: 40px;
    margin-left: 120px;
    color: #075664;
}

.right2 p {
    margin-top: 20px;
    font-size: 30px;
    margin-left: 120px;
    margin-bottom: 20px;
}

.right2 a {
    font-size: 30px;
    margin-left: 120px;
    border: 1px solid #075664;
    background-color: #075664;
    text-decoration: none;
    color: #ffffff;
}

.right2 a:hover {
    font-size: 30px;
    margin-left: 120px;
    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    letter-spacing: 3px;
}

.schead {
    text-align: center;
    font-size: 80px;
    font-family: 'heading';
    background: linear-gradient(90deg, #101111, rgb(75, 169, 231));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.courseswiper {
    width: 100%;
    height: 100%;
}

.courseswiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseswiper-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .scbtn {

    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid black;
}

.scbtn:hover {
    letter-spacing: 3px;
    color: #0c8fa7;
    background: #000000;
    transition: 0.7s;
} */

.hdseh1 {
    text-align: center;
    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    font-size: 50px;
    font-family: 'heading';
    margin-top: 40px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
    color: #ffffff;
}

.hdsep {
    font-size: 20px;
    font-family: 'reguklar-nav';
    text-align: center;
    background: linear-gradient(80deg, #1d92a7, rgb(12, 12, 12));
    margin-bottom: 50px;
    color: #ffffff;
}

.hdsecontainer {
    display: flex;
    flex-wrap: wrap;
}

.hdsewrapper {

    width: 400px;
    background: #fff;
    padding: 30px;
    border: 16px;
    box-shadow: 5px 5px 10px rgba(4, 89, 138, 0.808);
    margin-left: 30px;
    margin-top: 50px;
}

.hdsewrapper header {

    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
    padding: 10px;
    background: #075664;
    color: #ffffff;
}

header label {
    height: 100%;
    z-index: 2;
    width: 40%;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.hdsehead {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #c6c6c6;
}

.hdsehead span {
    font-size: 40px;
    font-weight: 600;
    font-family: 'heading';
    background: linear-gradient(90deg, #1d92a7, rgb(12, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hdserow .module li {
    font-size: 20px;
    margin-bottom: 10px;

}

.hdsewrapper button {
    height: 55px;
    width: 100%;
    margin-right: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3 ease;
    background: #075664;
    color: #ffffff;
    margin-top: 20px;

}

.hdsewrapper button:hover {
    transform: scale(0.99);
    background-color: #0c8fa7;
    color: black;
    height: 50px;
    width: 80%;
    margin-left: 20px;
}

.hdsewrapper button a {
    text-decoration: none;
    color: #ffffff;
}

.hdsebtn {
    margin-top: 30px;
}

.adseh1 {
    text-align: center;
    background: linear-gradient(90deg, #91ecfc, rgb(2, 63, 104));
    font-size: 50px;
    font-family: 'heading';
    margin-top: 40px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
    color: #ffffff;
}

.adsep {
    font-size: 20px;
    font-family: 'reguklar-nav';
    text-align: center;
    background: linear-gradient(90deg, #91ecfc, rgb(2, 63, 104));
    margin-bottom: 50px;
    color: #ffffff;
}

.adsecontainer {
    display: flex;
    flex-wrap: wrap;
}

.adsewrapper {

    width: 400px;
    background: #fff;
    padding: 30px;
    border: 16px;
    box-shadow: 5px 5px 10px rgba(4, 89, 138, 0.808);
    margin-left: 150px;
    margin-top: 50px;
}

.adsewrapper header {

    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
    padding: 10px;
    background: rgb(2, 63, 104);
    color: #ffffff;
}

header label {
    height: 100%;
    z-index: 2;
    width: 40%;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.adsehead {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #c6c6c6;
}

.adsehead span {
    font-size: 40px;
    font-weight: 600;
    font-family: 'heading';
    background: linear-gradient(90deg, #91ecfc, rgb(2, 63, 104));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.adserow .module li {
    font-size: 20px;
    margin-bottom: 10px;

}

.adsewrapper button {
    height: 55px;
    width: 100%;
    margin-right: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3 ease;
    background: rgb(2, 63, 104);
    color: #ffffff;
    margin-top: 20px;

}

.adsewrapper button:hover {
    transform: scale(0.99);
    background-color: #0c8fa7;
    color: black;
    height: 50px;
    width: 80%;
    margin-left: 20px;
}

.adsewrapper button a {
    text-decoration: none;
    color: #ffffff;
}

.adsebtn {
    margin-top: 30px;
}

.myh1 {
    text-align: center;
    background: linear-gradient(90deg, #025153, rgb(4, 150, 130));
    font-size: 50px;
    font-family: 'heading';
    margin-top: 40px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
    color: #ffffff;
}

.mycontainer {
    position: relative;
    /* width: 1100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 50px;
}

.mycontainer .mycard {
    position: relative;
    width: 330px;
    height: 200px;
    background: #a7e5f0;
    margin: 30px;
    padding: 20px 15px;
    display: flex;
    box-shadow: 0 3px 20px black;
    flex-direction: column;
    transition: 0.4s ease-in-out;
    border-radius: 10px;

}

.mycontainer .mycard:hover {
    height: 300px;
}

.mycontainer .mycard .myimg {
    position: relative;
    width: 260px;
    height: 200px;
    top: -60px;
    left: 20px;
    box-shadow: 0 3px 10px black;
    z-index: 1;
}

.mycontainer .mycard .myimg img {
    max-width: 100%;
    border: 6px;
    height: 100%;
}

.myh2 {
    text-align: center;
    color: #000000;
}

.mycontainer .mycard .mydetail {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;

}

.mycontainer .mycard:hover .mydetail {
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}

.mydetail button {
    height: 50px;
    width: 150px;
    margin-right: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3 ease;
    background: rgb(2, 63, 104);
    color: #ffffff;


}

.mydetail button:hover {
    transform: scale(0.99);
    background-color: #0c8fa7;
    color: black;
    height: 50px;
    width: 150px;
    margin-left: 20px;
}

.mydetail button a {
    text-decoration: none;
    color: #ffffff;
}

.mydetail .mybtn {
    margin-top: 8px;
}

.lch1 {
    text-align: center;
    background: linear-gradient(90deg, #5552eb, rgb(1, 60, 100));
    font-size: 50px;
    font-family: 'heading';
    margin-top: 40px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
    color: #ffffff;
}

#lcabout {
    display: flex;
    gap: 70px;
    margin-top: 50px;
}

#lcabout .lcimg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background: rgb(5, 81, 133);
    border-radius: 20px;
    box-shadow: 0 15px 15px black;
    margin-left: 30px
}

#lcabout .lcimg img {
    position: relative;
    width: 500px;
    margin-left: 5px;
    left: 40px;
    margin-top: 100px;
    border-radius: 20px;
}

.lcright {
    margin-left: 30px;
}

.lcright .lch3 {
    top: 20px;
    font-size: 30px;
    font-family: 'bold-nav';
}

.lcright .lcp {
    margin-top: 10px;
    font-family: 'regular-nav';
}

.lcright ul {
    margin-left: 20px;
    font-family: 'regular-nav';
    margin-top: 10px;
}

.lcright button {
    height: 50px;
    width: 150px;
    margin-right: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3 ease;
    background: rgb(2, 63, 104);
    color: #ffffff;



}

.lcright button:hover {
    transform: scale(0.99);
    background-color: #0c8fa7;
    color: black;
    height: 50px;
    width: 150px;
    margin-left: 20px;
}

.lcright button a {
    text-decoration: none;
    color: #ffffff;
}

.lcright .mybtn {
    margin-top: 50px;
}

@media screen and (max-width:600px) {
    .body {
        flex-direction: column;
    }

    .econtainer {
        flex-direction: column;
        place-content: center;
        text-align: center;
        gap: 20px !important;
    }

    .econtainer .ecard {
        height: 300px;
        width: 290px;
    }

    header nav ul {
        display: none;
    }

    .coursecard {
        margin: 0;
    }

    #menu-btn {
        display: initial;
    }

    header nav ul.active #close-menu-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    header nav ul.active #close-menu-btn img {
        filter: invert(1);
    }

    header nav ul.active {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 10000000000;
        margin: 0;
        padding: 0;
        width: 100% !important;
        height: 100vh !important;
        background-color: black;
    }

    


    #about {
        flex-direction: column;
        align-items: center;
        /* gap: 20px; */
    }

    .swiper {
        flex-direction: column;
    }

    .swiper-wrapper {
        flex-direction: column;
    }

    #lcabout {
        flex-direction: column;
    }
}

.contact-section {
    width: 100%;
    display: flex;
    background-color: blue;
    background-image: url(../images/banner\ backgroundjpg.jpg);
    justify-content: center;
    background-size: cover;
    align-items: center;
}

.contact {
    margin-top: 50px;
}

.contact-info {
    color: #fff;
    max-width: 500px;
    padding-left: 80px;
    line-height: 65px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info,
.contact-form {
    flex: 1;
}

.contact-form h2 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    /* margin-bottom: 30px; */
    margin-top: 50px;
    font-family: 'heading';
}

.contact-form .text-box {
    background: #332f2f00;
    color: #fff;
    /* border: none;  */
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background: #332f2f00;
    color: #fff;
    /* border: none;  */
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: right;
    background: #06375c;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #0000;

}

@media screen and (max-width:600px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info {
        line-height: 40px;
        padding-left: 5px;
    }

    .contact-info,
    .contact-form {
        margin: 30px 50px;
        flex-direction: column;
    }

    .contact-form h2 {
        font-size: 30px;
    }

    .contact-form,
    .text-box {
        width: 100%;
    }

}

/*css for alert massages*/

.alert-success {
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    left: 0;
    bottom: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}

.map iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    border-radius: none;
}

footer{
    background-color: var(--secondary-color);
    width: 1347px;
    text-align: center;
    padding: 20px 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
footer .icons, footer .list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
footer .icons li,footer .list li{
    list-style: none;
}
footer .icons li a{
    font-size: 2em;
    color: #d3d9d4;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .icons li a:hover{
    transform: translateY(-10px);
}
footer .list li a{
    display: inline-block;
    font-size: 1.2em;
    color: #d3d9d4;
    margin: 0 10px;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.5;
}
footer .list li a:hover{
    opacity: 1 ;
}
footer p,footer p a{
    color: #ffff;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
}
.section2 .overlay h2{
    color: #ffff;
    font-size: 26px;
}
.section2 .overlay p{
    color: #d3d9d4;
    font-size: 15px;
}
.section2 .wrapper{
    padding: 10px 10%;
}
.section2 .box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.section2 .box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px #00000080;
}
.section2 .box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    height: 420px;
}
.section2 .overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.section2 .overlay h4{
    color: #d3d9d4;
    margin-bottom: 5px;
    margin-top: 50%;
    font-family:"normal-medium";
    font-size: calc(13*2px);
}
.section2 .overlay b{
    font-size: 17px;
}
.section2 .box:hover img{
    transform: scale(1.2);
}
.section2 .box:hover .overlay{
   height: 100%; 
}
@media screen and (max-width: 600px){
    .section1{
        display: flex;
        flex-direction: column;
        margin :calc(15*3px);
        gap:calc(10*3px);
    }
    .section5{
        position: relative;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px;
        margin-left: 10px;
    }
    footer{
        background-color: var(--secondary-color);
        max-width: 100%;
        text-align: center;
        padding: 20px 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 500px;
        flex-direction: column;
    }
    section .overlay style{
    width: auto;
    }
    .section4 .image-gallery ul li .bg-image,.section4 .image-gallery ul:not(:first-child){
        filter: none;
        margin: 5px;
        width: calc(100*2.5px);
        height: calc(100*2.5px);
        clip-path: none;
        border-radius: 50px;
        background-image: none;
    }
}


/* About Work */

section{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    animation: banner 1.5s ease-in-out reverse 1;
}
section .overlay{
    height: 100%;
    width: 100%;
    background-color: #124e66a2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: "bold-nav";
    color: var(--natural-color);
    flex-direction: column;
}
@keyframes banner{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    50%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(150px);
        opacity: 0;
    }
}
@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(80px);
        opacity: 0;
    }
}
.section3,.section2, .section4 , .section5, .section1{
    animation: animate 2.5s ease-in-out reverse 1;
}
.section1{
    display: flex;
    margin :calc(15*3px);
    gap:calc(10*3px);
}
.section1 img {
    height: calc(100*2.75px);
    width: calc(100*2.75px);
    border: --secondary-color solid 5px;
}
.section1 h1{
    font-family: "heading";
    letter-spacing: 2px;
    font-size: calc(15*3px);
} 
.section3 p{
    font-size: 22px;
    text-align: center;
    font-family: "normal-regular";
}
.section1 p{
    font-family: "normal-medium";
    font-size: calc(8*2px);
    text-align: justify;
}
.section3 h1{
    color: var(--natural-color);
    font-family: "heading";
    font-size: 58px;
}
.section3 p{
    font-family: "normal-regular";
    color: var(--natural-color);
    font-size: 28px;
}
.section3 h2{
    color:#000000;
    font-family: "normal-medium";
}
.section3 a{
    text-decoration: none;
    color: var(--natural-color);
    font-family: "normal-medium";
    font-size: 25px;
}
.section4 .image-gallery{
    margin-bottom: 50px;
    background-color: #083ebc5d;
}
.section4 .image-gallery ul{
    list-style: none;
    display: table;
    margin: auto;
}
.section4 .image-gallery ul:not(:first-child){
    margin-top: -70px;
}
.section4 .image-gallery ul li{
    float: left;
}
.section4 .image-gallery ul li .bg-image{
    margin: 5px;
    width: calc(100*2.5px);
    height: calc(100*2.5px);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .25s ease-in-out;
    filter: grayscale(100%);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
}
.section4 .image-gallery ul li .bg-image:hover{
    height:calc(100*3px);
    width: calc(100*3px);
    filter: grayscale(0%);
}
.section4 p, .abc p {
    align-items: center;
    font-size: 26px;
    text-align: center;
    font-family: "normal-medium";
}
.section2 h1 , .section4 h1, .abc h1{
    text-align: center;
    font-size: calc(24*2px);
    font-family: "Heading";
    align-items: center;
    margin-top: 10px;
}
.section5{
    position: relative;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.section5 .card{
    position: relative;
    max-width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 202px #0a0a0a80;
    transition: 0.3s ease-in-out;
    background-color: var(--info-color);
}
.section5 .card:hover{
    height: 323px;
}
.section5 .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
}
.section5 .card .content{
    position: relative;
    padding: 10px 15px;
    text-align: center;
    color: aliceblue;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    font-family: "Reviews";
    font-size: 22px;
}
.section5 .card:hover .content{
    visibility: visible;
    opacity:1;
    margin-top:-140px;
    transition-delay: 0.3s;
}
.section5 .card .imgBx img{
    height: calc(50*3px);
    width: calc(50*3px);
    border-radius: 50%;
    border: var(--info-color) 15px solid;
    
}
.section5 .imgBx h2{
    text-align: center;
    color: var(--natural-color);
    font-family: "reviews";
}


/* regiseter */
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.registration{
    color: white;
    background-color: rgba(93, 81, 81, 0.714);
}
.registration .main{
    text-align: center;
    font-family: "heading";
}
.registration form{
    padding: 20px;
}
.registration .name{
    display: flex;
    gap: 20px;
}

.registration .required label{
    font-size: 30px;
    font-family: "heading";
    padding:20px;

}
.required input{
    height: 50px;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    font-family: "normal-regular";
    margin-top: 25px;
}
.registration select{
    height: 60px;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    font-family: "normal-regular";
    text-align: center;
}
.registration .radio{
    font-family: "normal-mediumr";
    font-size: 20px;
    margin-top: 35px;
}
.registration .align{
    display: flex;
    gap: 20px;
}
.registration.font{
    font-family: "heading";
    font-size:30px ;
    padding-right: 20px;
    padding-left:50px ;
    padding-top:20px ;
    padding-bottom: 20px;
}
button{
    height: 40px;
    width: 100px;
    border: 2px solid #0961cb;
    box-shadow: 10px 10px 7px #484747;
    transition: all 0.2s;
    position: relative;
}
button:hover{
    height: 45px;
    width: 120px;
    margin-left: 10px;
}
.sdhead {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'bold-nav';
    background-color: #025153;
    text-decoration: none;
     color: #000000;
     width: 100%;
}

.sdimg{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
